body {
    font-family: 'Roboto',  sans-serif;
    background-color: #FFFFFF;
    color: #434455
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p, h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
} 

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}


.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #e7e9fc
}

.header-container {
    display: flex;
    align-items: center;
}


.header-web-logo  {
    color:  #2E2F42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-web-link  {
    display: block;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
display: none;
gap: 40px;
align-items: center;
}

.menu-open-btn {
    margin-left: auto;
    top: 16px;
    right: 16px;
    bottom: 16px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.header-menu-item {
    font-style: normal;
    color: #404bbf;
}

.header-menu-link {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    display: block;
}
.header-menu-link:hover {
color:#404bbf;
}
.header-menu-link:focus {
color: #404bbf;
}

.current {
    color: #404bbf;
}

.current::after {
content: '';
position: absolute;
left: 0;
bottom: -1px;
border-radius: 2px;
    background: var(--OCEAN, #404BBF);
    color: #404bbf;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
        height: 4px;
}

.header-address {
display: none;
 font-style: normal;
}


.header-address-list {
    gap: 40px;
}

.header-address-link {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.header-address-link:hover {
    color: #404BBF;
}

.header-address-link:focus {
    color: #404BBF;
}

.mob-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
}


.menu-close-btn {
    display: block;
        margin-left: auto;
        margin-bottom: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-menu-link {
    color: var(--NAVY-BLUE, #2E2F42);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            ;
}

.mob-menu-link:hover {
    color: #404BBF;
}

.mob-menu-link:focus {
    color: #404BBF;
}

.mob-address {
    padding-bottom:  48px;
}

.mob-address-item {
    padding-bottom:  24px;
}
.mob-address-link {
    color: var(--SLATE, #434455);
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.mob-address-link:hover {
    color: #404BBF;
}

.mob-address-link:focus {
    color: #404BBF;
}

.mob-media-list {
    display: flex;
    gap: 40px;
    position: absolute;
    left: 16px;
    bottom: 40px;
}

.mob-media-item {
    width: 40px;
    height: 40px;
}

.mob-media-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mob-media-icon {
    fill: #FFFFFF;
}

.hero {
    background-color: #2e2f42;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-img-mob.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
    padding: 72px 0px  ;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-img-mob-2x.jpg);
    }
}

.hero-title {
    color: var(--WHITE, #FFFFFF);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin: 0 auto;
        margin-bottom: 72px;
}


.hero-buy-btn {
    color: var(--WHITE, #FFFFFF);
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        padding: 16px 32px ;
        letter-spacing: 0.04em; 
        background-color: #4d5ae5;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin: 0 auto;
       transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-buy-btn:hover{
background-color: #404BBF;
}

.hero-buy-btn:focus {
background-color: #404BBF;
}

.info {
    padding-top: 96px;
    padding-bottom: 96px;
}

.visually-hidden {
position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.info-list {
    display: flex;
    flex-wrap: wrap;
}

.info-item {
    width: 100%;
}

.info-item:last-child {
    margin-bottom: 0;
}

.info-item-icon {
    display: none;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    flex-shrink: 0;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
}

.info-subtitle {
    color:  #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.info-item-text {
    color: var(--SLATE, #434455);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}


.our-list {
    display: flex;
    align-items: center;
}

.our-item {
    background-color: #FFFFFF;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: 100%;
}

.our-item:nth-last-child(-n+2){
    margin-bottom: 0;
}

.our-img {
    margin: 0 auto;
}

.our-team {
    background: var(--CLOUD, #F4F4FD);
    padding: 96px 0;
}

.our-work {
    padding: 32px 0;

}

.our-title {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}


.our-subtitle {
    color: var(--NAVY-BLUE, #2E2F42);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: 8px
}

.our-text {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.our-container {
display: flex;
justify-content: center;
gap: 24px;
}

.our-container-list {
    width: 40px;
    height: 40px;
}

.our-container-link:hover {
    background-color: #404bbf;
}
.our-container-link:focus {
    background-color: #404bbf;
}

.our-container-link {
    background-color: #4d5ae5;
    border-radius: 50%;
     display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.our-link-wrap {
    fill: #f4f4fd;
}

.our-portfolio {
padding-top: 96px;
padding-bottom: 96px;
}

.portfolio-title {
color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px; 
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    
}

.portfolio {
    background-color: var(--WHITE, #FFF);
    width: 100%; 
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio:hover {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio:hover .portfolio-cover-text {
transform: translateY(0);
}

.portfolio-cover-wrap {
overflow: hidden;
position: relative;
}

.portfolio-img {
    background: var(--WHITE, #FFF);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-work {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-cover-text {
    position: absolute;
    top: 0;
    display: flex;
    text-align: justify;
    color: var(--CLOUD, #F4F4FD);
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background: var(--IRIS, #4D5AE5);
    width: 360px;
    height: 300px;
    flex-shrink: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-subtitle {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}


.portfolio-subtitle:last-child {
    margin-bottom: 0;
}
    

.portfolio-text {
    color: var(--SLATE, #434455);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.portfolio-text:hover {
    transform: translateY(0%);
}

.footer {
padding: 96px 0;
background: var(--NAVY-BLUE, #2E2F42);
}

.footer-container {
    display: block;
    align-items: baseline;
}

.footer-web-logo {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.footer-web-link {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 16px;
}

.footer-text {
    color: var(--CLOUD, #F4F4FD);
    align-items: center;
   font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
     max-width: 288px;
    text-align: left;
}

.social-media-1 { 
margin-bottom: 72px;
}

.social-media-web {
    margin-bottom: 72px;
    text-align: center;
    justify-content: center;
}

.social-media-list {
    display: flex;
    justify-content: center;
    gap: 16px;

}

.social-media-item {
    width: 40px;
    height: 40px;
}

.social-media-link {
width: 100%;
height: 100%;
background-color: #4d5ae5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover {
background-color: #31d0aa;
}

.social-media-link:focus {
    background-color:#31d0aa;;
}

.social-media-icon {
    align-items: center;
    justify-content: center;
    fill: #f4f4fd;
}

.social-media-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;
text-align: center;
}

.footer-email-container {
    text-align: center;
}

.footer-subscribe {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.footer-subscribe-form{
    display: block;
    gap: 24px;

}

.footer-email {
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    margin-bottom: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}

.footer-email::placeholder {
    color: #ffffff;
}


.footer-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:  #FFFFFF;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px; 
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.footer-button-icon {
    margin-left: 16px;
}

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    pointer-events: none;
}

.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
}

.modal {
    width: 320px;
    min-height: 584px;
    border-radius: 4px;
    background-color:  #FCFCFC;;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px  24px;
    box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
    position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#E7E9FC;
       border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        cursor: pointer;
         transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.modal-btn:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff
}

.modal-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff
}

.modal-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    color:  #2E2F42;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5em;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
}

.input-wrap{
   position: relative;
}


.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
   
}

.modal-input:focus + .modal-icon {
    fill: #4D5AE5;
}

.modal-icon {
    fill: #2E2F42;
  position: absolute;  
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.modal-form-btn {
    display: block;
    min-width: 169px;
    font-family: 'Roboto', sans-serif;
    padding: 16px 32px;
    margin: 0 auto;
    color: #ffffff;
    cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5em;
        letter-spacing: 0.04em;
        border-radius: 4px;
            background-color:#4D5AE5;
           border: none;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field {
    margin-bottom: 8px;
}
      
.modal-field-area {
margin-bottom: 16px;
}

.modal-label {
    display: block;
        color:  #8E8F99;
        font-family: Roboto;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        margin-bottom: 4px;
}

.modal-textarea {
   width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
}

.modal-textarea:focus {
border-color: #4D5AE5;
}

.modal-textarea::placeholder {
    color: rgba(46, 47, 66, 0.40);
        font-size: 12px;
        line-height: 1.7em;
        letter-spacing: 0.04em;
}

.modal-field-checkbox {
    margin-bottom: 24px;
}

.check-text {
color:  #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em; 
    align-items: center;
    margin-bottom: 24px;
}

.check-text a {
    color: #4D5AE5;
        font-size: 12px;
        line-height: 1.3em;
        letter-spacing: 0.03em;
        text-decoration-line: underline;
}

.check-text-box {
    width: 16px;
    height: 16px;
    border: 1px solid  rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.modal-check:checked + .check-text > .check-text-box {
background-color: #404bbf;
border: none;
fill: #F4F4FD;
}



    @media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .container-team{
        max-width: 584px;
    }
    .header-container {
        display: flex;
    }

    .header-menu {
        display: flex;
    }

      .menu-open-btn {
      display: none;
      }

        .header-address {
            display: block;
            margin-left: auto;
        }       

        .header-address-link {
        font-size: 12px;
            line-height: 1.7;
            letter-spacing: 0.04em;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            ;
            padding: 12px;
                }

        .info {
            padding-top: 96px;
            padding-bottom: 96px;
        }
    .info-list {
    gap: 72px 24px;
    flex-direction: row;
}
    .info-item {
      width: calc((100% - 24px) / 2); 
    }
.info-subtitle {
    text-align: left;
}

.our-team {
    padding: 96px 0;
}

    .our-list {
        display: block;
        gap: 24px 64px;
        }

     .our-item {
        display: inline-block;
        width: calc((100% - 24px) / 2);
        margin-bottom: 72px;
        }
.our-portfolio {
    padding: 96px 0;
}

        .portfolio-list {
            flex-direction: row;
            gap: 24px;
        }

        .portfolio {
            width: calc((100% - 72px) / 2);
        }

         .hero {
         padding: 112px 0 112px;
         background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tabl-img.jpg);
                }

         @media (min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
         .hero {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tabl-img-2x.jpg);}
                 }
        
                .hero-title {
                    font-size: 56px;
                    line-height: 1.07;
                    letter-spacing: 0.02em;
                    max-width: 496px;
                    margin-bottom: 36px;
                }

               .social-media-web{
                display: block;
                margin-bottom: 72px;
                text-align: left;
               }

               .footer-subscribe {
                text-align: left;
               }
                    .footer-subscribe-form {
                    display: block;
                }
   
     .social-media-1 {
      display: inline-block;
         }

         .social-media-text{
       text-align: left;
         }

   .container.footer-container {
       max-width: 584px;
     }
                
  .footer-container {
    display: flex;
     flex-wrap: wrap;
     }

     .footer-button {
       display: inline-flex;
     }
.footer-email {
    margin-right:  24px;
}
         }



@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

.header-navigation {
   gap: 76px;
}
          .header-menu {
              display: flex;
          }
         .header-address-list {
                      display: flex;
                      gap: 40px;
                  }
                  .header-address-link{
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                  }

 .info {
     padding-top: 120px;
     padding-bottom: 120px;
 }

.info-item {
    width: calc((100% - 72px) / 4);
}

 .info-item-icon {
     display: flex;
 }

 .info-subtitle {
     text-align: left;
     font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
 }

 .our-team {
     padding: 120px 0;
 }

  .our-list {
    display: flex;
      gap: 24px;
      flex-direction: row;
  }

  .our-item{
    margin-bottom: 0;
  }

  .our-portfolio {
      padding: 120px 0;
  }
.portfolio-list {
  gap:  48px 24px;
}

.portfolio {
    width: calc((100% - 48px) / 3);
}

.hero {
    padding: 188px 0 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-img.jpg);
}

 @media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
     .hero {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-img-desk-2x.jpg);
     }
 }

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    max-width: 496px;
}

.social-media-web {
    display: block;
    margin-right: 120px;
    margin-bottom: 0;
}

.footer-subscribe {
    text-align: left;
}

.footer-subscribe-form {
    display: block;
}

.social-media-1 {
    display: block;
    margin-right:  px;
    margin-bottom: 0;

}

.social-media-text {
    text-align: left;
}

.container.footer-container {
    max-width: 1150px;
}

.footer-container {
    display: flex;
}

.footer-button {
    display: inline-flex;
}

}